@import './var';
@import './fonts/fonts';

* {
    box-sizing: border-box;
    font-family: "Space Mono";
    font-size: 24px;
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    background-color: $very-dark-cyan;
    cursor: pointer;
    color: $white;
    border-radius: 4px;
    transition: .2s;
}

button.active {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
}

input[type="text"] {
    border: 0;
    width: 100%;
    border-radius: 4px;
    background-color: $very-light-grayish-cyan;
    padding: 5px 15px;
    text-align: right;
    color: $grayish-cyan;
    outline-color: $strong-cyan;

    &::placeholder {
        color: $grayish-cyan;
    }
}

.btn-reset {
    width: 100%;
    background-color: $strong-cyan;
    color: $very-dark-cyan;
    padding: 7px;
    margin: 50px 0 0;

    &.disabled {
        opacity: .5;
        cursor: auto;
    }
}

// Layout

body {
    background-color: $light-grayish-cyan;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 60px 0;
        text-align: center;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        background-color: $white;
        border-radius: 15px;
        max-width: 1000px;
        width: 100%;

        > div {
            flex: 0 0 50%;
        }

        .col1 {
            padding-right: 30px;

            > div:not(.tip) {
                margin: 0 0 30px;
            }

            label {
                display: block;
                font-size: 16px;
                color: $dark-grayish-cyan;
                margin: 0 0 10px;
            }

            #bill {
                background: url('../images/icon-dollar.svg') no-repeat $very-light-grayish-cyan;
            }

            #number-people {
                background: url('../images/icon-person.svg') no-repeat $very-light-grayish-cyan;
            }

            #bill, #number-people {
                background-position: 15px 50%;
                padding-left: 45px;
            }

            .tip-percentage {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                input[type="text"] {
                    flex: 0 0 30%;
                    margin: 0 0 15px;
                    padding: 5px;
                }

                input {
                    text-align: right;
                    color: $dark-grayish-cyan;

                    &::placeholder {
                        color: $dark-grayish-cyan;
                        text-align: center;
                    }

                    &:not(.last) {
                        border: 0;
                        background-color: $very-dark-cyan;
                        cursor: pointer;
                        color: $white;
                        border-radius: 4px;
                        transition: .2s;
                        text-align: center;

                        &.active {
                            background-color: $strong-cyan;
                            color: $very-dark-cyan;
                        }
                    }

                    &:last-child {
                        text-align: center;
                    }
                }
            }
        }

        .col2 {
            width: 100%;
            background-color: $very-dark-cyan;
            color: $white;
            border-radius: 15px;
            padding: 40px 30px 30px;
            position: relative;

            > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 50px;
            }

            h2 {
                font-size: 16px;

                span {
                    font-size: 14px;
                    color: $grayish-cyan;
                    display: block;
                }
            }

            .price {
                color: $strong-cyan;
                font-size: 35px;
            }
        }
    }
}

@media (min-width: 1370px){
    body {
        height: 100vh;

        h1 {
            margin: 0 0 60px;
        }
    }
}

@media (max-width: 768px) {
    body {
        h1 {
            margin: 30px 0;
        }

        main > div {
            flex: 0 0 100%;

            &.col1 {
                padding: 0 0 30px;
            }
        }
    }
}
