@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
/* line 4, ../scss/style.scss */
* {
  box-sizing: border-box;
  font-family: "Space Mono";
  font-size: 24px;
}

/* line 10, ../scss/style.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 19, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 23, ../scss/style.scss */
button {
  border: 0;
  background-color: #00494d;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: .2s;
}

/* line 32, ../scss/style.scss */
button.active {
  background-color: #26c0ab;
  color: #00494d;
}

/* line 37, ../scss/style.scss */
input[type="text"] {
  border: 0;
  width: 100%;
  border-radius: 4px;
  background-color: #f4fafa;
  padding: 5px 15px;
  text-align: right;
  color: #7f9c9f;
  outline-color: #26c0ab;
}
/* line 47, ../scss/style.scss */
input[type="text"]::placeholder {
  color: #7f9c9f;
}

/* line 52, ../scss/style.scss */
.btn-reset {
  width: 100%;
  background-color: #26c0ab;
  color: #00494d;
  padding: 7px;
  margin: 50px 0 0;
}
/* line 59, ../scss/style.scss */
.btn-reset.disabled {
  opacity: .5;
}

/* line 66, ../scss/style.scss */
body {
  background-color: #c5e4e7;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 74, ../scss/style.scss */
body h1 {
  margin: 0 0 60px;
  text-align: center;
}
/* line 79, ../scss/style.scss */
body main {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
}
/* line 86, ../scss/style.scss */
body main > div {
  flex: 0 0 50%;
}
/* line 90, ../scss/style.scss */
body main .col1 {
  padding-right: 30px;
}
/* line 93, ../scss/style.scss */
body main .col1 > div:not(.peoples) {
  margin: 0 0 30px;
}
/* line 97, ../scss/style.scss */
body main .col1 label {
  display: block;
  font-size: 16px;
  color: #5e7a7d;
  margin: 0 0 10px;
}
/* line 104, ../scss/style.scss */
body main .col1 #bill {
  background: url("../images/icon-dollar.svg") no-repeat #f4fafa;
}
/* line 108, ../scss/style.scss */
body main .col1 #number-people {
  background: url("../images/icon-person.svg") no-repeat #f4fafa;
}
/* line 112, ../scss/style.scss */
body main .col1 #bill, body main .col1 #number-people {
  background-position: 15px 50%;
  padding-left: 45px;
}
/* line 117, ../scss/style.scss */
body main .col1 .tip-percentage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 122, ../scss/style.scss */
body main .col1 .tip-percentage * {
  flex: 0 0 30%;
  margin: 0 0 15px;
  padding: 5px;
}
/* line 128, ../scss/style.scss */
body main .col1 .tip-percentage input {
  text-align: right;
  color: #5e7a7d;
}
/* line 132, ../scss/style.scss */
body main .col1 .tip-percentage input::placeholder {
  color: #5e7a7d;
  text-align: center;
}
/* line 140, ../scss/style.scss */
body main .col2 {
  width: 100%;
  background-color: #00494d;
  color: white;
  border-radius: 15px;
  padding: 40px 30px 30px;
  position: relative;
}
/* line 148, ../scss/style.scss */
body main .col2 > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px;
}
/* line 155, ../scss/style.scss */
body main .col2 h2 {
  font-size: 16px;
}
/* line 158, ../scss/style.scss */
body main .col2 h2 span {
  font-size: 14px;
  color: #7f9c9f;
  display: block;
}
/* line 165, ../scss/style.scss */
body main .col2 .price {
  color: #26c0ab;
  font-size: 35px;
}

@media (max-width: 768px) {
  /* line 175, ../scss/style.scss */
  body h1 {
    margin: 30px 0;
  }
  /* line 179, ../scss/style.scss */
  body main > div {
    flex: 0 0 100%;
  }
  /* line 182, ../scss/style.scss */
  body main > div.col1 {
    padding: 0 0 30px;
  }
}
